body {
  background-color: #e9ed9a;
}

#nav-list {
  list-style-type: none; /* Removes default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

#nav-list li {
  display: inline-block;
  margin-right: 0.7rem;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

#header * {
  margin: auto;
}

#page-content {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2rem;
}

#page-content * {
  margin-top: 0.5rem;
}

/* HOME PAGE STYLING */

#home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 3rem;
}

#ascii-scene {
  margin: auto;
  padding: auto;
  justify-content: left;
}
