body {
  background-color: #f9ffdc;
  font-size: 18px;
  height: 100%;
  color: #333333;
}

html {
  height: 100%;
}

#page-content {
  flex: 1;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4rem;
}

#page-content * {
  margin-top: 0.5rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to full viewport height */
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */

#nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-list li {
  display: inline-block;
  margin-right: 0.7rem;
  text-decoration: underline;
}

#nav-list li:hover {
  text-decoration: none;
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

#header * {
  margin: auto;
}
/* idk how i feel abt this */
#ascii-title {
  font-weight: bold;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

/* Footer */

#footer {
  padding: 1rem;
  display: flex;
  align-content: center;
}

#ascii-footer {
  font-size: small;
}

/* Home page */

#home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 3em;
}

#ascii-scene {
  margin: auto;
  padding: auto;
  justify-content: left;
  font-size: small;
  font-weight: bold;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAACOUlEQVR4AcySAW4jMQwD0/v/n68eAQPYhO0EadGoWK5MiXLIRf89nv/9HxIwyo8e7gBvXfKK0bcu/u2lm1HSg6/xo2CU64MWnETcAdCAk27bvxndLnyquTNKWkB6wBmcPDIDaIE6eiA5GmA/Kztg6e+MLoIuZGeUtECPnAEpgX3OgBngPIMesMcZ5L7ciga4V/2d0Rp0e71i1GSkBGbgDORZc0+ujl2QfTkzUPwVo1780XozWkmGO1IB+WjVI7ei2cF5LU0v++4kV1rzm1GFLeps1EQaqySSUeXPdEO6PO7ZdD/7ydVXnY1Wo+sLo5lQrme51f71CyiaaurzvuTT6uOB0aXRlWD0a5gDo9TDGZiQM6jheHEG4/jWwy7IZXrA313mGF0aXcnOqIlIB5L/VhbuBt5vpQfk9Xs7ozXo9toZJQ1YEn3AOB5A/fTOaA26vWajXb7g1sdstNtHXPzMRvl/ACbiLKj2lwt+QLyPu0Hy5erZ6DLoRnZGSQdMmJ5P/dSdeO7L+U0gd7/4zqiCVvVmlHRAw5yBvJJKXqip564ZXmFPffGbURdb1JtRE2lUXgltjmp/HLdPzt3PfnJ1denNaAm6vDCaSeQmSp7eU6fe6tzqvjx1zpeK0aXRlWD0WbKcmyX7cudZ/XL25c/2So/ROnR/zUZNZtL07ty+OvvJT333c27fe+RVZ6PV6PraGTXpybOJU5f8pMt73bvqd0bzohb8HaP5BU5B1J3m9q9fUtE7Rt390/oNAAD//xXdW2QAAAAGSURBVAMAXjq4UYQ8NmsAAAAASUVORK5CYII=")
    14 / 14px / 0 round;
  border-width: 14px;
  border-style: solid;
}

/* Eclectica Page */

#eclectica {
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR0IArs4c6QAAAQNJREFUWEftmFEOxCAIROsBvP9BPcBusqn9YEPGsaDQtJ9NLI8ZCsRyJHlKEs5jGLTW+tmRVGvtx/gc0K5kz2yVqjIuVDQd6Colu3PTioYFXW25jDesaDpQb8u1mqQVDQu6ynJUk1DR8KDaLPeaSNOKhgdlM7P6udi4hT3wgp77rjrrH6OoldXyO6xAsEbDgHYQ2Z68+qeMR8/6NKBapuGsf0EVS+i/HrWNcNaHX0q09tTfe7Up2nr2gFUpsHHhZPLa+NODSseu2zw2M2/rp0GtwFAbRCUGazQM6O7tSbNavr/uR3dtTzQoavxeJTA6UP5unLVRGg7UC+jud+Ed/t0AVue/ONUwST1ngoMAAAAASUVORK5CYII=")
    14 / 14px / 0 round;
  border-width: 14px;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.ecl-item {
  margin-top: 0.5em;
  margin-right: 0.25em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.citation {
  color: black;
  text-decoration: underline;
}

.citation:hover {
  text-decoration: none;
}

.citation:visited {
  color: black;
}

/* Blog Page */

#blog {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

#blog-posts {
  display: inline-block;
  margin: 2rem auto;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#blog-posts li {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  text-decoration: underline;
  line-height: 1.2;
  margin: 0.15rem 0;
}

#blog-posts li:hover {
  text-decoration: none;
  cursor: pointer;
}

#blog-posts li p {
  margin: 0;
  padding: 0;
}

#blog-posts li p:first-child {
  font-style: italic;
  min-width: 6ch;
}

#blog-posts li p:last-child {
  font-style: bold;
}

/*Blog Post Styling*/

.blogpost {
  font-size: 18px;
}

.blogpost-body {
  padding-top: 0.5em;
}

/* Project Page Styling */
#blog {
  display: flex;
  flex-direction: column;
}

#projects-div h3 a {
  color: #1e7716;
}

#projects-div h3 {
  text-decoration: underline;
  color: #1e7716;
}
