body {
  background-color: #fcffc2;
  font-size: 18px;
  height: 100%;
}

html {
  height: 100%;
}

#page-content {
  flex: 1;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4rem;
}

#page-content * {
  margin-top: 0.5rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to full viewport height */
  align-items: center;
}

/* Header */

#nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-list li {
  display: inline-block;
  margin-right: 0.7rem;
  text-decoration: underline;
}

#nav-list li:hover {
  text-decoration: none;
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

#header * {
  margin: auto;
}
/* idk how i feel abt this */
#ascii-title {
  font-weight: bold;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

/* Footer */

#footer {
  padding: 1rem;
  display: flex;
  align-content: center;
}

#ascii-footer {
  font-size: small;
}

/* Home page */

#home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 3em;
}

#ascii-scene {
  margin: auto;
  padding: auto;
  justify-content: left;
  font-size: small;
  font-weight: bold;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAwUlEQVQ4T9VV2xKFIAgE//+b5WAZZzF1GrSHmmmyYlcWuTARid7ceeon+1cMRA2L3XVduPZdTqOk4DwEINgR3TaqPCMPnZfocbNGO1OMckDZ2nIWoyhzjSkcSJSp4o4QYEwX+VymrHLd8Ca/Pe3oTiZ/K2Eh407iR720ytqbUlBRm+QnjWc+nHxD/rTrRGNbU4o1ccVtECb8VEXBQf0btWvEiVgydRvPvPOzEiryyahop0SX+GnnLzPH8nAwCazz/wBqdVUOtOMk9AAAAABJRU5ErkJggg==")
    7 / 7px / 0 round;
  border-width: 7px;
  border-style: solid;
}

/* Eclectica Page */

#eclectica {
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR0IArs4c6QAAAQNJREFUWEftmFEOxCAIROsBvP9BPcBusqn9YEPGsaDQtJ9NLI8ZCsRyJHlKEs5jGLTW+tmRVGvtx/gc0K5kz2yVqjIuVDQd6Colu3PTioYFXW25jDesaDpQb8u1mqQVDQu6ynJUk1DR8KDaLPeaSNOKhgdlM7P6udi4hT3wgp77rjrrH6OoldXyO6xAsEbDgHYQ2Z68+qeMR8/6NKBapuGsf0EVS+i/HrWNcNaHX0q09tTfe7Up2nr2gFUpsHHhZPLa+NODSseu2zw2M2/rp0GtwFAbRCUGazQM6O7tSbNavr/uR3dtTzQoavxeJTA6UP5unLVRGg7UC+jud+Ed/t0AVue/ONUwST1ngoMAAAAASUVORK5CYII=")
    14 / 14px / 0 round;
  border-width: 14px;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.ecl-item {
  margin-top: 0.5em;
  margin-right: 0.25em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.citation {
  color: black;
  text-decoration: underline;
}

.citation:hover {
  text-decoration: none;
}

.citation:visited {
  color: black;
}

/* Blog Page */

#blog {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

#blog-posts {
  display: inline-block;
  margin: 2rem auto;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#blog-posts li {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  text-decoration: underline;
  line-height: 1.2;
  margin: 0.15rem 0;
}

#blog-posts li:hover {
  text-decoration: none;
  cursor: pointer;
}

#blog-posts li p {
  margin: 0;
  padding: 0;
}

#blog-posts li p:first-child {
  font-style: italic;
  min-width: 6ch;
}

#blog-posts li p:last-child {
  font-style: bold;
}

/*Blog Post Styling*/

.blogpost {
  font-size: 18px;
}

.blogpost-body {
  padding-top: 0.5em;
}

/* Project Page Styling */ 
#blog {
  display: flex;
  flex-direction: column;
}