body {
  background-color: #fcffc2;
  font-size: 16px;
  height: 100%;
}

html {
  height: 100%;
}

#page-content {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2rem;
  flex-grow: 1;
}

#page-content * {
  margin-top: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to full viewport height */
}

/* Header */

#nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-list li {
  display: inline-block;
  margin-right: 0.7rem;
  text-decoration: underline;
}

#nav-list li:hover {
  text-decoration: none;
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

#header * {
  margin: auto;
}

/* Footer */

#footer {
  padding: 1rem;
  text-align: center;
}

/* Home page */

#home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 3rem;
}

#ascii-scene {
  margin: auto;
  padding: auto;
  justify-content: left;
}

/* Eclectica Page */

#eclectica {
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAzUlEQVRYR+2YQQrFMAhEfw+Q+x80B2jhg5uAmJGM0TZvX3wZi4ZcvyJcRTznRVtr945D9d7/YU4nml5UBOVkUYx1zUTLiUYhnXMnGgUsGt3ysd50ouVE2WithhNl4xaNarn1T5qJphfVViRrI7kTTS+KnmwVaN0javHdRFksT5QFLCoi43hizc+xHrxCy4hqJ2Xhbv0RVXh/oukvJdp4ElhjCm49+sEq0LpH1OK7ibJYnigLWPTcngzciWrJ7kZ9w9dW6S5U0ayYb/hZeACZ1VBJd/BnXgAAAABJRU5ErkJggg==")
    14 / 14px / 0 round;
  border-width: 14px;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.ecl-item {
  padding-top: 1em;
}

.citation {
  color: black;
  text-decoration: underline;
}

.citation:hover {
  text-decoration: none;
}

.citation:visited {
  color: black;
}

/* Blog Page */
#blog {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#blog-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#blog-posts li {
  text-decoration: underline;
}

#blog-posts li:hover {
  text-decoration: none;
  cursor: pointer;
}

/*Blog Post Styling*/
.blogpost {
  font-size: 18px;
}

.blogpost-body {
  padding-top: 0.5em;
}
