body {
  background-color: #e9ed9a;
}

#nav-list {
  list-style-type: none; /* Removes default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

#nav-list li {
  display: inline-block;
  margin-right: 10px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

#header * {
  margin: auto;
}

#page-content {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5vh;
}

#page-content * {
  margin-top: 0.5vh;
}

#body {
  display: flex;
  flex-direction: row;
}

#ascii-scene {
  margin: auto;
  padding: auto;
  justify-content: lefts;
}
