<div id="header">
<pre id="ascii-title">
  ___                 _     _  _              _    _         _         ___      ___  
 / __| ___ __ _ _ ___| |_  | || |__ _ _ _  __| |__| |_  __ _| |_____  | _ \_ _ |   \ 
 \__ \/ -_) _| '_/ -_)  _| | __ / _` | ' \/ _` (_-< ' \/ _` | / / -_) |   / ' \| |) |
 |___/\___\__|_| \___|\__| |_||_\__,_|_||_\__,_/__/_||_\__,_|_\_\___| |_|_\_||_|___/ 
                                                                                     
</pre>

  <nav>
    <ul id="nav-list">
        <li hx-get="/home.html" hx-trigger="click" hx-swap="innerHTML" hx-target="#page-content">home</li>                                                                                                                                                                                </li>
        <li hx-get="/blog.html" hx-trigger="click" hx-swap="innerHTML" hx-target="#page-content">blog</li>
        <li hx-get="/projects.html" hx-trigger="click" hx-swap="innerHTML" hx-target="#page-content">projects</li>
        <li hx-get="/eclectica.html" hx-trigger="click" hx-swap="innerHTML" hx-target="#page-content">eclectica</li>
    </ul>
  </nav>

  
</div>
