<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>shrnd</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div
      id="nav"
      hx-get="./header.html"
      hx-trigger="load"
      hx-swap="outerHTML"
    ></div>

    <div
      id="page-content"
      hx-get="./home.html"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>
  </body>
</html>
